@using Microsoft.AspNetCore.Http
@model System.Collections.Generic.IList<RAUPJC_Projekt.Models.ApplicationUser>

@inject IHttpContextAccessor HttpContextAccessor

<body>
    <div class="container">
        <div class="row"><h4>Svi zaposlenici:</h4></div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>E-mail</th>
                        <th>Detalji</th>
                        <th>Dodaj ulogu</th>
                        <th>Ukloni ulogu</th>
                        <th>Ukloni korisnika</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var user in Model)
                    {
                        @Html.Partial("PartialView/UserPartialView", user)
                    }
                    </tbody>
                </table>
            </div>
            <div class="row">
                <a asp-action="Index" asp-controller="Administrator" class="btn btn-success">Natrag</a>
            </div>
        </div>
    </div>
</body>